/* * {
  box-sizing: border-box;
} */
body {
  margin: 0;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

.ant-menu-item-divider {
  border-color: #3571b8 !important; /* Đổi sang màu bạn muốn */
  opacity: 1 !important; /* Tăng độ đậm nếu cần */
}
